.paytone-font {
    font-family: 'Paytone One', sans-serif;
}

.koulen-font {
    font-family: 'Koulen', cursive;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}
