@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Nunito:wght@700&family=Paytone+One&family=Poppins&family=Satisfy&display=swap');

.paytone-font {
    font-family: 'Paytone One', sans-serif;
}

.koulen-font {
    font-family: 'Koulen', cursive;
}

.nunito-font {
    font-family: 'Nunito', sans-serif;
}
.poppins-font{
    font-family: 'Poppins', sans-serif;
}

.satisfy-font{
    font-family: 'Satisfy', cursive;
}
