.paytone-font{
    font-family: 'Paytone One', sans-serif;
}
.koulen-font{
    font-family: 'Koulen', cursive;
}
.nunito-font{
    font-family: 'Nunito', sans-serif;
}
.tab-body .row div{
    padding-block: 0.5rem;
}

.nav-tabs a{
    font-size: .8rem !important;
    font-weight: 700 !important;
}