/* ==============[Background Parallax]============== */
.background-parallax {
    /* The image used */
    background-image: url("/img/background/building.png");

    /* Set a specific height */
    /* min-height: 500px; */

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.coverflow-wrapper {
    backdrop-filter: blur(3px);
}

.location-content {
    opacity: 0;
}

/* ===[END]======[Background Parallax]============== */



/* ==============[Homepage Unit Section]============== */
.row {
    font-family: 'Poppins', sans-serif;
}

.contact100-form .wrap-input100 * {
    font-family: 'Poppins', sans-serif;
}

.cluster-section {
    display: none;
    opacity: 1;
    transition: ease 1.5s;
}

.cluster {
    display: none;
}

.unit-card, #location-input, #unit-input{
    cursor: pointer;
}

.locationNav-wrapper {
    background-color: #efeaea;
}

.more-card {
    display: none;
}

.btn.viewAll-btn:hover {
    transition: ease 0.8s;
    background-color: #f93154;
    color: white;
}

.bookNow-container {
    height: 500px;
}

.bookNow-container .back-color {
    height: 330px;
    background: #1d2023;
    position: relative
}

.space-top {
    height: 2vw;
}

.bookNow-container h1 {
    font-size: 5rem;
}

.contactHeader span {
    color: #ffa752;
}

.body-content .container {
    height: 150px;
}

/* ===[END]======[Homepage Unit Section]============== */



/* ==============[My Account Section]============== */
.tab-header {
    color: #8c01af;
    background: #ebebeb;
}

.tab-body .row div {
    padding-block: 0.5rem;
}

.nav-tabs a {
    font-size: .8rem !important;
    font-weight: 700 !important;
}

/* ===[END]======[My Account Section]============== */




/* ==============[Contact Us]============== */

.background {
    background-image: url("/img/background/building.png");
    background-position: right 35% bottom 45%;
    ;
}

.contact-wrapper {
    backdrop-filter: blur(3px);
}

.contact-wrapper .content-header {
    width: fit-content;
}

.contact-wrapper .content-header h1 {
    font-size: 5rem;
    color: cornsilk;
    overflow: hidden;
    border-right: .15em solid aliceblue;
    white-space: nowrap;
    margin: 0 auto;
    animation:
        typing 2s steps(10, end),
        blink-caret .75s step-end infinite;
}

.contact-wrapper .content-header span {
    display: block;
    animation: slide-up 1000ms,
        fade 1500ms;
}

/* Input Style */
.half-col {
    flex: 0 0 50%;
    max-width: 48%;
}

.full-col {
    flex: 0 0 100%;
    max-width: 100%;
}

/* Map */

.col-map{
    opacity: 0;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.map-wrapper{
    background: #6fbf93;
    height: fit-content;
}
/* ===[END]======[Contact US]============== */




/* ==============[Scroll Up Button]============== */

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

/* ===[END]======[Scroll Up Button]============== */



/* ===========[Border Shape Separator]====================== */
.border-shape {
    background: #09be51 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
}

.border-shape::before {
    background: #09be51 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
}

.border-shape::after {
    background: #09be51 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 1px;
    width: 100px;
}

/* ===[End]=============[Border Shape Separator]====== */




/* ===========[Contact Us Button]====================== */
.container-contact100-form-btn {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    padding-top: 8px;
}

.contact100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    /* min-width: 160px; */
    height: 50px;
    background-color: #57b846;
    border-radius: 25px;

    font-family: Poppins-Regular;
    font-size: 16px;
    color: #fff;
    line-height: 1.2;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

    border: none;
}

.contact100-form-btn i {
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.contact100-form-btn:hover {
    background-color: #333333;
}

.contact100-form-btn:hover i {
    -webkit-transform: translateX(10px);
    -moz-transform: translateX(10px);
    -ms-transform: translateX(10px);
    -o-transform: translateX(10px);
    transform: translateX(10px);
}


/* ===[End]=============[Contact Us Button]====== */



/* ===========[Responsiveness]====================== */
@media only screen and (min-width: 992px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .nav-item {
        padding: 0.5em 1em;
    }

    #navBar {
        margin-top: -2rem;
    }

    .coverflow-wrapper,
    .myacct-wrapper {
        padding-top: 250px;
    }

    .contact-wrapper {
        padding-top: 280px;
    }
}

@media only screen and (max-width: 992px) {
    header nav img {
        height: 50px !important;
    }

    .coverflow-wrapper,
    .myacct-wrapper {
        padding-top: 100px !important;
    }

    .contact-wrapper {
        padding-top: 100px !important;
    }
}

/*==[END]======[Responsiveness]====================== */