.tab-body .row div {
    padding-block: 0.5rem;
}

.nav-tabs a {
    font-size: .8rem !important;
    font-weight: 700 !important;
}

.tab-header {
    color: #8c01af;
    background: #ebebeb;
}

.location-content {
    opacity: 0;
}

.cluster-section{
    opacity: 0;
    transition: ease 1.5s;
}
.hidden-block{
    display: none;
}

.show-block{
    display: block;
    opacity: 1;
}

.show {
    opacity: 1 !important;
    transition: ease-out 1.5s;
}

#btn-back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
}

.border-shape {
    background: #09be51 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
}

.border-shape::before {
    background: #09be51 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100px;
}

.border-shape::after {
    background: #09be51 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 1px;
    width: 100px;
}

.background-parallax{
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1582407947304-fd86f028f716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1596&q=80");
  
    /* Set a specific height */
    min-height: 500px; 
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .coverflow-wrapper{
    backdrop-filter: blur(3px);
  }